---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  creationTimestamp: null
  name: ack-route53-reader
  namespace: {{ .Release.Namespace }}
rules:
- apiGroups:
  - route53.services.k8s.aws
  resources:
  - cidrcollections
  - healthchecks
  - hostedzones
  - recordsets
  verbs:
  - get
  - list
  - watch
